body {
  margin: 0;
}
p, li {
  font-family: 'Slabo 13px', serif;
  list-style: none;
  line-height: 1.7em;
}
a {
  color: #007DBB;
  text-decoration: none;
  border-bottom: 1px dotted;
}
h2:before { 
  content: ''; 
  display: block; 
  position: relative; 
  width: 0; 
  height: 5em; 
  margin-top: -5em 
}
a:hover {
  color: red;
}
.banner {
  margin: 0;
  padding: 2em 0;
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
}
.banner h1, .banner h2 {
  color: #fff;
}
.banner h1 {
  font: 800 5em "merriweather";
  line-height: 1.2em;
  text-align: center;
}
.banner .tag {
  margin-top: 3em;
  text-align: center;
  border-top: 1px solid #fff;
}
.banner .tag p {
  max-width: 500px;
  margin: auto;
  font: 300 1.5em "open sans";
  position: relative;
  top: -1.2em;
  text-align: center;
  color: #3A6073;
  padding: 0.5em;
  background: #fff;
  border-radius: 25px;
}
.banner h2 {
  font: 800 1.5em "merriweather";

}
.banner p, .banner h2 {
  max-width: 960px;
  min-width: 600px;
  margin: 1em auto;
  padding: 0 10px;
  color: #fff;
}
.banner a {
  color: #fff;
}
.banner a:hover {
  color: #ccc;
}
.banner .tag a {
  color: #3A6073;
}
.simple-menu li {
  display: inline;
  padding: 0.5em;
}
.simple-menu ul {
  text-align: right;
  max-width: 960px;
  margin: 0 auto;
}
.simple-menu a {
  border-bottom: none;
}
.simple-menu a:hover {
  border-bottom: 1px dotted;
}
sup {
  font: 300 0.5em "open sans";
}
.main {
  padding: 1em 0;
}
.main p, 
.main ul, 
.main h1, 
.main h2, 
.main h3 {
  max-width: 960px;
  min-width: 600px;
  margin: 1em auto;
  padding: 0 10px;
}
.main h1, 
.main h2, 
.main h3 {
  font: 800 1.5em "merriweather";
  color: #16222A;
  
}
.main h3 {
  font-size: 1.2em;
  color: #3A6073;
  border-bottom: none;
}
.main li {
  margin-left: 2em;
}
.main li {
  list-style: disc;
}
.section {
  padding: 3em 0;
}
.alt {
  background: #f0f0f0;
}
.word {
  font: 5em "Fredericka the Great", cursive;
  text-align: center;
  margin: 0em auto !important;
  padding: 0;
}
.footer {
  padding: 1em;
}
.footer p {
  max-width: 900px;
  text-align: center;
  margin: 1.5em auto;
  color: #6E6E6E;
  font-size: 10pt;
}
.anchorific {
  padding-left: 3em;
  background: #fff;
  width: 100%;
  margin-top: 0 !important;
}
@media (max-width: 940px) {
  .anchorific {
    font-size: 0.8em;
  }
}
.anchorific li {
  display: inline;
}
.anchorific ul {
  list-style-type: none;
}
.anchorific ul li a {

}
.anchorific li ul {
  display: none;
}
.anchorific li.active>a {
  color: black;
  /*border-right: #e54339 2px solid;*/
}
.anchorific li.active > ul {
  display: none;
}

a.anchor {
  color: #D5D5D5;
  border-bottom: none;
}
a.anchor:hover {
  color: #007DBB;
}
#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  height: 60px;
  overflow: hidden;
  min-width: 600px;
  border-bottom: 1px solid #eee;
}
