body {
  margin: 0;
}
p, li {
  font-family: 'Slabo 13px', serif;
  list-style: none;
  line-height: 1.7em;
}
a {
  color: #007DBB;
  text-decoration: none;
  border-bottom: 1px dotted;
}
a:hover {
  color: red;
}
.banner {
  margin: 4em 0 0 0;
  padding: 2em 0;
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
}
.banner h1, .banner h2 {
  max-width: 800px;
  min-width: 650px;
  margin: 0 auto;

  color: #fff;
}
.banner h1 {
  font: 800 5em "merriweather";
  line-height: 1.2em;
  text-align: center;
}
.banner .tag {
  margin-top: 3em;
  text-align: center;
  border-top: 1px solid #fff;
}
.banner p {
  max-width: 500px;
  min-width: 650px;
  margin: auto;
  font: 300 1.5em "open sans";
  position: relative;
  top: -1.2em;
  text-align: center;
  color: #3A6073;
  padding: 0.5em;
  background: #fff;
  border-radius: 25px;
}
.banner a {
  color: #3A6073;
}
sup {
  font: 300 0.5em "open sans";
}
.word {
  font: 5em "Fredericka the Great", cursive;
  float: right;
  margin: 0 0.4em;
  padding: 0;
  line-height: 1.5em;
}
.container {
  padding: 1em 0;
  margin: 0;
}
.container p, 
.container ul, 
.container h2, 
.container h3 {
  max-width: 800px;
  min-width: 650px;
  margin: 0 auto;
  padding: 0.5em 0.5em;
}
.container h2, 
.container h3 {
  font: 800 1.5em "merriweather";
  color: #16222A;
  border-bottom: 1px solid gray;
}
.container h3 {
  font-size: 1.2em;
  color: #3A6073;
  border-bottom: none;
}
.container li {
  margin-left: 2em;
}
.container li {
  list-style: disc;
}
.section {
  padding: 3em 0;
}
.alt {
  background: #f0f0f0;
}
.footer {
  padding: 1em;
}
.footer ul, p {
  margin-left: 65%;
}
.anchorific {
  <!--position: fixed;
  top: 3em;
  max-width: 240px;-->
}
.anchorific ul {
  list-style-type: none;
}
.anchorific ul li a {

}
.anchorific li ul {
  display: none;
}
.anchorific li.active>a {
  <!--border-right: #e54339 2px solid;-->
}
.anchorific li.active > ul {
  display: inherit;
}

